body {
	/* background-image: url("https://cdn.wallpapersafari.com/94/25/0npYMB.png"); */
	background-image: url("https://t3.ftcdn.net/jpg/01/96/83/20/360_F_196832044_ISa3G24W2dmiW5X94hJq59Cs8uHat8I1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
